<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="assets/images/avatar_2x.png" />
    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
      <input type="text" id="uname" class="form-control" name="uname" autocomplete="off" #uname="ngModel"
             [(ngModel)]="userObject.uname" placeholder="Nom utilisateur" title="Please enter the username" required autofocus>
      <input type="password" id="upass" class="form-control" name="upass" autocomplete="off" #upass="ngModel"
             [(ngModel)]="userObject.upass" placeholder="Mot de passe" title="Please enter the password" required>
      <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode" autocomplete="off"
             #authcode="ngModel" [(ngModel)]="userObject.authcode" placeholder="Two-Factor Auth code"
             title="Please enter the code" required>
      <div id="captacha">
        <re-captcha (resolved)="resolved($event)" siteKey="6LficqkZAAAAACSno5qEyWtnOba9hxKKXs8ZNIrG"></re-captcha>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
              [disabled]="uname?.errors?.required || upass?.errors?.required || !captcha || (this.tfaFlag && authcode?.errors?.required)">Connexion</button>
<!--      <p style="text-align:center;"> Pas encore inscrit ?<a [routerLink]="['/register']"> Créer votre compte-->
<!--        ici</a></p>-->
<!--      <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>-->
    </form>

  </div>
  <div class="fixed fixed--bottom cookie-disclaimer js-cookie-disclaimer">

    <div class="media media--center">

      <div class="media__object media__object--right">
        <button class="button">Accepter</button>
      </div>

      <div class="media__body">
        <p>Les cookies sont utilisés sur ce site web pour améliorer la fonctionnalité et les performances. Si vous continuez à utiliser le site web, cela sera considéré comme un consentement tacite à l'utilisation de cookies sur ce site.  Pour plus d'informations, veuillez vous référer à notre<a href="/privacy"> politique de confidentialité.</a>.</p>
      </div>

    </div>

  </div>
  <script>console.log("ssssssssssssssssssssssssssss")
const cookieDisclaimer = document.querySelector('.js-cookie-disclaimer');

if (!localStorage.getItem('cookieDisclaimer')) {
  cookieDisclaimer.classList.add('is-active');
}

cookieDisclaimer.querySelector('button').addEventListener('click', () => {
  localStorage.setItem('cookieDisclaimer', true);
  cookieDisclaimer.classList.remove('is-active');
});
</script>
</div>
